/.vscode
/build
/psyq
scus_944.25.ld
SCUS_944.25
Spyro2.bin
Spyro2_build.bin
Spyro2_build.cue
WAD.WAD
/various
overlay_hash_output.txt
/moby_address_list.txt
context.txt
overlay_corrected_hash_output.txt
tools/mkpsxiso.exe
tools/dumpsxiso.exe
tools/wadtoolrust.exe
tools/mkpsxiso
tools/dumpsxiso
tools/wadtoolrust
/wad-data
/cd-data
